<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>CF-User Details</title>
</head>
<body>
<div class="logo">
    <div class="yellow"></div>
    <div class="blue"></div>
    <div class="red"></div>
</div>
  <div class="container">
    <h3 style="text-align:center;">Codeforces User Details</h3>
    <form id="contact" method="post" action="/userDetails">
      <input type="text" name="UserID" placeholder="Codeforces Username " required>
      <input type="submit" value="Fetch Details">
    </form>
  </div>
</body>
</html>
